:root {
    --color-accent: oklch(54.6% 0.245 262.881);
    --color-accent-hover: oklch(42.4% 0.199 265.638);
    --color-primary: oklch(21% 0.034 264.665);
    --color-secondary: oklch(37.3% 0.034 259.733);
    --color-tertiary: oklch(55.1% 0.027 264.364);
    --color-border: oklch(88.214% 0.00727 268.584);
    --color-surface: oklch(92.8% 0.006 264.531);
    --color-surface-hover: oklch(94.8% 0.0045 264.537);
    --color-background: oklch(98.5% 0.002 247.839);
    --color-background-hover: oklch(96.7% 0.003 264.542);
    --shadow-color: oklch(0% 0 0 / 0.1);
    --color-danger:oklch(65% 0.25 27);
}

:root.dark {
    --color-accent: oklch(70% 0.245 262.881);
    --color-accent-hover: oklch(60% 0.199 265.638);
    --color-primary: oklch(85% 0.034 264.665);
    --color-secondary: oklch(75% 0.034 259.733);
    --color-tertiary: oklch(65% 0.027 264.364);
    --color-border: oklch(38.253% 0.01995 266.051);
    --color-surface: oklch(27.28% 0.03495 254.08);
    --color-surface-hover: oklch(32.92% 0.0438 248.89);
    --color-background: oklch(21.783% 0.01454 266.92);
    --color-background-hover: oklch(38.562% 0.0527 243.704);
    --shadow-color: oklch(44.616% 0.08638 279.824 / 0.1);
}

body {
    background-color: var(--color-background);
}

/* Outras classes globais */
.button-primary {
    font-size: 0.875rem;
    color: var(--color-accent);
    font-weight: 500;
    cursor: pointer;
    padding: 0.25rem;
    transition: color 0.2s ease-in-out;
}

.button-primary:hover {
    color: var(--color-accent-hover);
}

.rotate-180 {
    transform: rotate(180deg);
}